.TarefaForm{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;

}

select{
    width: 95%;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgb(224, 224, 224);
    font-family: cursive;
    font-weight: 600;
}

input{
    font-family: cursive;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
}

button{
    font-family: cursive;
    font-weight: 800;
    background-color: hsl(197, 100%, 86%);
    color: rgb(0, 0, 0);
    border: 2px solid black;

}