.tarefa{
    display: flex;
    border: 2px solid black;
    border-radius: 20px;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    background-color: yellow;

}

.statusTask{
    height: 100%;
}

.tarefa button{
    width: 100%;
}

.SubStatus{
    display: flex;
    justify-content: center;
    align-items: center;
}

.SubStatus select{
    width: 70%;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
   
}

.delete{
    background-color: rgb(197, 0, 0);
    color: white;
}
