.aplicativo{
    display: flex;
    align-items: top;
    font-family: cursive;
    padding-right: 20px;
    border: 2px solid black;
    border-radius: 20px;
    height: auto;
    background-image: url(../wallpaper.jpg);
    margin: 0px;
}

.taskList{
    height: 100vh;
    width: 100%;
    text-align: center;
}

.sectionCreateAll{
    border-right: 2px solid black;
    margin-right: 20px;
}

.body{
    padding: 20px;
    background-color: black;
}

